################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/sample/ConsoleSample/bin/Debug/net6.0
/sample/ConsoleSample/obj
/src/Serilog.Enrichers.ScopedLogContext/bin/Debug/net6.0
/src/Serilog.Enrichers.ScopedLogContext/obj
/sample/ASP.NETCore/bin/Debug/net6.0
/sample/ASP.NETCore/obj
